/*
Fonts Imports
*/

/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
/*
Variables
*/
:root {
    --header-height: 78px;
    --container-width: 80%;
    --container-max-width: 1700px;
    --color100: #E0AAFF;
    --color200: #C77DFF;
    --color300: #9D4EDD;
    --color400: #7B2CBF;
    --color500: #5A189A;
    --color600: #3C096C;
    --color700: #240046;
    --color800: #10002B;
    --black: #292929;
    --white: #f0f0f0;
    --grey: #b3b3b3;
    --monospace-font: "Roboto Mono", monospace;
    --sans-serif-font: "Poppins", sans-serif;
}

* {
    scroll-behavior: smooth;
}

body {
    background-color: var(--black);
}

/*
Header
*/
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color700);
    height: var(--header-height);
    position: fixed;
    width: 100%;
    max-width: 100vw;
    top: 0;
    z-index: 10;
}

.header__container {
    width: var(--container-width);
    max-width: var(--container-max-width);
    display: flex;
    justify-content: space-between;
    padding: 34px 0px 34px 0px;
}

.header__title {
    color: var(--color100);
    font-family: var(--monospace-font);
    font-optical-sizing: auto;
    font-weight: 200;
    font-size: 18px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.header__title:visited {
    color: var(--color100);
}

.header__title::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--color200);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.header__title:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__menu {
    display: flex;
    gap: 20px;
    color: var(--white);
}

.header__menu--sidebar {
    position: fixed;
    top: var(--header-height);
    right: 0;
    transform: translateX(500px);
    height: calc(100vh - var(--header-height));
    width: 250px;
    z-index: 20;
    background-color: #9d4eddb2;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    will-change: transform;
    padding: 20px;
    transition: 0.5s;
}

.header__menu--sidebar-animation {
    transform: translateX(0px);
    visibility: visible;
}

.header__menu-sidebar-button {
    display: none;
    border: 0;
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    height: 45px;
    width: 45px;
}

.header__menu-icon-bar {
    display: block;
    width: 100%;
    height: 3px;
    background: var(--white);
    transition: .3s;
    border-radius: 1px;
}

.header__menu-icon-bar + .header__menu-icon-bar {
    margin-top: 5px;
}

.header__menu-icon-bar--animation-first {
    transform: translate3d(0, 8px, 0) rotate(45deg);
}

.header__menu-icon-bar--animation-second {
    opacity: 0;
}

.header__menu-icon-bar--animation-third {
    transform: translate3d(0, -8px, 0) rotate(-45deg)
}

.header__menu-anchor {
    position: relative;
    display: flex;
    font-family: var(--monospace-font);
    align-items: center;
    cursor: pointer;
}

.header__menu-anchor:visited {
    color: var(--white);
}

.header__menu-anchor:focus {
    color: var(--white);
}

.header__menu-anchor:-webkit-any-link {
    color: var(--white);
}

.header__menu-anchor--sidebar {
    padding-bottom: 5px;
}

.header__menu-anchor::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--color200);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.header__menu-anchor:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.header__menu-anchor-fl {
    color: var(--color200);
    font-weight: bold;
}

.header__menu-button {
    padding: 8px 18px 8px 18px;
    background-color: transparent;
    border: var(--color300) solid 2px;
    border-radius: 5px;
    color: var(--white);
    font-size: 16px;
    font-family: var(--monospace-font);
    display: flex;
    transition: 0.3s;
    cursor: pointer;
}

.header__menu-button:hover {
    background-color: var(--color500);
    box-shadow: var(--color400) 0px 0px 30px 0px;
}

/*
Toast
*/

.toast {
    position: fixed;
    right: 15px;
    top: calc(var(--header-height) + 15px);
    z-index: 50;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
    background-color: #ffb50ae8;
    border: 3px solid #be880a;
    padding: 10px;
    transform: translateX(500px);
    transition: 0.1s;
}

.toast--animation {
    transform: translateX(0px);
}

.toast__title-container {
    display: flex;
    gap: 10px;
}

.toast__title {
    font-family: var(--monospace-font);
    font-size: 14px;
}

.toast__description {
    font-family: var(--sans-serif-font);
    font-size: 14px;
}

/*
Overlay
*/
.overlay {
    position: fixed;
    display: none;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    background: rgba(0, 0, 0, 0.5);
}

/*
Introduction
*/
.introduction {
    position: relative;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: var(--header-height);
    background-color: var(--color700);
}

.introduction-mobile {
    background-image: linear-gradient(
        to right bottom, 
        var(--color700), 
        var(--color700), 
        var(--color600), 
        var(--color500), 
        var(--color400)
    );
}

#tsparticles {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0;
}

.tsparticles-mobile {
    display: none;
}

.introduction__container {
    position: absolute;
    width: var(--container-width);
    max-width: var(--container-max-width);
    display: flex;
    align-items: center;
}

.introduction__text-container {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.introduction__text-initial {
    font-family: var(--monospace-font);
    font-weight: bold;
    font-size: 18px;
    color: var(--color100);
    margin-bottom: 20px;
}

.introduction__text-name {
    display: inline-block;
    font-family: var(--sans-serif-font);
    font-weight: 700;
    color: var(--white);
    font-size: 86px;
}

.introduction__text-occupation {
    display: inline-block;
    font-family: var(--sans-serif-font);
    font-weight: 700;
    color: var(--grey);
    font-size: 62px;
    margin-bottom: 20px;
}

.introduction__text-description {
    display: inline-block;
    font-family: var(--sans-serif-font);
    font-weight: 400;
    color: var(--grey);
    font-size: 18px;
    max-width: 40%;
    margin-bottom: 30px;
}

.introduction__button-call-to-action {
    padding: 8px 18px 8px 18px;
    background-color: var(--color700);
    border: var(--color300) solid 2px;
    border-radius: 5px;
    color: var(--white);
    font-size: 16px;
    font-family: var(--monospace-font);
    display: flex;
    transition: 0.3s;
    cursor: pointer;
}

.introduction__button-call-to-action:hover {
    background-color: var(--color500);
    box-shadow: var(--color400) 0px 0px 40px 0px;
}

.introduction__button-call-to-action:visited {
    color: var(--white);
}

.introduction__button-call-to-action:active {
    color: var(--white);
}

/* About me */
.about-me {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    padding: 70px 0px;
}

.about-me__container {
    width: var(--container-width);
    max-width: var(--container-max-width);
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.about-me__title-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.about-me__title {
    font-family: var(--sans-serif-font);
    font-size: 44px;
    color: var(--color500);
}

.about-me__title-divider {
    width: 50px;
    height: 8px;
    background-color: var(--color700);
    border-radius: 5px;
}

.about-me__description {
    margin-top: 10px;
    font-family: var(--monospace-font);
    font-size: 16px;
    text-align: center;
}

.about-me__about-skills-container {
    display: flex;
    gap: 154px;
}

.about-me__about {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.about-me__about-title {
    font-family: var(--monospace-font);
    font-size: 28px;
    color: var(--color500);
}

.about-me__about-description {
    font-family: var(--sans-serif-font);
}

.colorful-text {
    font-size: 18px;
    background: linear-gradient(
        to right, 
        var(--color100), 
        var(--color400), 
        var(--color700), 
        var(--color400), 
        var(--color100));
    background-size: 200% auto;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: move-bg 4s infinite linear;
}

.about-me__skills {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.about-me__skills-title {
    font-family: var(--monospace-font);
    font-size: 28px;
    color: var(--color500);
}

.about-me__skills-itens-container {
    padding: 10px;
    border-radius: 10px;
    background-color: var(--color700);
}

.about-me__skills-itens-ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.about-me__skills-skill {
    font-family: var(--sans-serif-font);
    color: var(--white);
    padding: 7px;
    background-color: var(--color600);
    border-radius: 5px;
    transition: 0.3s;
}

.about-me__skills-skill:hover {
   transform: scale(1.1);
}

@keyframes move-bg {
    to {
      background-position: 400% 0;
    }
}

.purple-text {
    color: var(--color500);
}

.about-me__button-call-to-action {
    padding: 8px 18px 8px 18px;
    background-color: var(--color700);
    border: var(--color300) solid 2px;
    border-radius: 5px;
    color: var(--white);
    font-size: 16px;
    font-family: var(--monospace-font);
    display: flex;
    transition: 0.3s;
    cursor: pointer;
}

.about-me__button-call-to-action:hover {
    background-color: var(--color500);
    box-shadow: var(--color400) 0px 0px 40px 0px;
}

.about-me__button-call-to-action:active {
    color: var(--white);
}

.about-me__button-call-to-action:visited {
    color: var(--white);
}

/*
Experience/Work
*/

.experience-education {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color700);
    padding: 70px 0px;
}

.experience-education__container {
    width: var(--container-width);
    max-width: var(--container-max-width);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.experience-education__wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 70%;
    margin-right: 100px;

}

.experience-education__group {
    display: flex;
    gap: 50px;
}

.experience-education__title-wrapper {
    display: flex;
    align-items: flex-start;
}

.experience-education__title {
    font-family: var(--monospace-font);
    color: var(--color100);
}

.experience-education__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.experience-education__item-title-wrapper {
    display: flex;
}

.experience-education__item-title {
    font-family: var(--sans-serif-font);
    color: var(--color100);
    font-size: 20px;
}

.experience-education__icon {
    margin-right: 10px;
}

.experience-education__icon--mtop {
    margin-top: 3px;
}

.experience-education__item-subtitle {
    font-family: var(--sans-serif-font);
    color: var(--grey);
    font-size: 16px;
}

.experience-education__item-description {
    margin-top: 10px;
}

.experience-education__item-description-ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.experience-education__item-description-item {
    color: var(--white);
    font-family: var(--sans-serif-font);
    font-size: 16px;
}

.experience-education__divider {
    width: 100%;
    height: 3px;
    background-color: var(--white);
    border-radius: 5px;
}

.experience__three-js-title {
    color: var(--grey);
    text-align: center;
    font-family: var(--monospace-font);
    margin-bottom: 5px;
    writing-mode: vertical-rl;
    margin-left: 5px;
}

.experience__three-js {
    width: 20vw;
    height: 70vh;
    max-width: 500px;
    max-height: 600px;
    border-radius: 10px;
    cursor: grab;
}

/*
Sandbox
*/
.sandbox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    padding: 70px 0px;
}

.sandbox__container {
    width: var(--container-width);
    max-width: var(--container-max-width);
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.sandbox__title-container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.sandbox__title {
    font-family: var(--sans-serif-font);
    font-size: 44px;
    color: var(--color500);
    text-align: center;
}

.sandbox__title-divider {
    width: 50px;
    height: 8px;
    background-color: var(--color700);
    border-radius: 5px;
}

.sandbox__description {
    margin-top: 10px;
    font-family: var(--monospace-font);
    font-size: 16px;
    text-align: center;
}

.sandbox__projects-container {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.sandbox__projects-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}

.sandbox__projects-item {
    width: 100%;
    max-width: 400px;
    padding: 5px;
    border-radius: 6px;
    background-color: var(--color600);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sandbox__projects-item-title {
    font-family: var(--monospace-font);
    color: var(--white);
}

.sandbox__projects-item-img {
    border-radius: 3px;
    opacity: 0.8;
    filter: blur(1px);

}

.sandbox__projects-item-content {
    display: flex;
    flex-direction: column;
    padding: 0px 20px 20px 20px;
    height: 100%;
    justify-content: space-between;
}

.sandbox__projects-item-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 24px;
}

.sandbox__projects-item-description {
    color: var(--grey);
    font-family: var(--sans-serif-font);
    font-size: 15px;
}

.sandbox__projects-item-description-anchor {
    text-decoration: underline;
    color: var(--color100);
}

.sandbox__projects-item-description-anchor:visited {
    color: var(--color100);
}

.sandbox__projects-item-description-anchor:active {
    color: var(--color100);
}

.sandbox__projects-item-description-anchor:-webkit-any-link {
    color: var(--color100);
}

.sandbox__projects-item-button {
    padding: 8px 18px 8px 18px;
    background-color: var(--color700);
    border: var(--color300) solid 2px;
    border-radius: 5px;
    color: var(--white);
    font-size: 16px;
    font-family: var(--monospace-font);
    display: flex;
    transition: 0.3s;
    cursor: pointer;
    align-self: flex-start;
}

.sandbox__projects-item-button:hover {
    background-color: var(--color500);
    box-shadow: var(--color400) 0px 0px 40px 0px;
}

.sandbox__projects-item-button:visited {
    color: var(--white);
}

.sandbox__projects-item-button:active {
    color: var(--white);
}

.sandbox__github {
    display: flex;
    gap: 10px;
    padding: 8px;
    border-radius: 6px;
    background-color: var(--color500);
    margin: auto;
    transition: 0.3s;
    align-items: center;
    font-size: 16px;
}

.sandbox__github:hover {
    background-color: var(--color300);
}

.sandbox__github:visited {
    color: var(--white);
}

.sandbox__github:active {
    color: var(--white);
}

.sandbox__github:-webkit-any-link {
    color: var(--white);
}

.sandbox__github-description {
    font-family: var(--monospace-font);
    text-align: center;
}

/*
Contact
*/

.contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color700);
    padding: 70px 0px;
}

.contact__container {
    width: var(--container-width);
    max-width: var(--container-max-width);
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-between;
}

.contact__list-container {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contact__list-title {
    color: var(--color100);
    font-family: var(--monospace-font);
    font-size: 36px;
}

.contact__list-ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact__list-item-anchor {
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 8px;
    border-radius: 6px;
    background-color: var(--white);
    color: var(--black);
    transition: 0.3s;
    word-break: break-all;
}

.contact__list-item-anchor:hover {
    box-shadow: var(--color100) 0px 0px 30px 0px;
}

.contact__list-item-anchor:visited {
    color: var(--black);
}

.contact__list-item-anchor:active {
    color: var(--black);
}

.contact__list-item-name {
    font-family: var(--sans-serif-font);
    font-size: 16px;
}

.contact__buttons {
    padding: 20px;
    /* background-image: linear-gradient(
        to right top, 
        var(--color700), 
        var(--color600), 
        var(--color500), 
        var(--color400), 
        var(--color300)
    ); */
    border-radius: 10px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background: linear-gradient(315deg, #240046, #3c096c, #5a189a, #7b2cbf, #9d4edd);
    background-size: 500% 500%;

    -webkit-animation: AnimationName 7s ease infinite;
    -moz-animation: AnimationName 7s ease infinite;
    -o-animation: AnimationName 7s ease infinite;
    animation: AnimationName 7s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.contact__buttons-title-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

.contact__buttons-title {
    margin-top: 5px;
    font-family: var(--monospace-font);
    color: var(--white);
    font-size: 23px;
    text-align: center;
}

.contact__buttons-sub-title {
    color: var(--grey);
    font-family: var(--sans-serif-font);
    font-size: 14px;
    text-align: center;
}

.contact__buttons-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.contact__button {
    border-radius: 50%;
    border: 0;
    width: 60px;
    height: 60px;
    font-size: 24px;
    cursor: pointer;
    background-color: var(--white);
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__button:hover {
    background-color: var(--color100);
}

/*
Footer
*/

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black );
    padding: 30px 0px;
}

.footer__container {
    width: var(--container-width);
    max-width: var(--container-max-width);
    display: flex;
    gap: 50px;
    justify-content: center;
}

.footer__text {
    font-family: var(--sans-serif-font);
    color: var(--grey);
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.footer__anchor {
    text-decoration: underline;
}

.footer__anchor:active {
    color: var(--grey);
}

.footer__anchor:visited{
    color: var(--grey);
}

.footer__anchor:-webkit-any-link {
    color: var(--grey);
}

/* Large devices */
@media (max-width: 1200px) {
    .introduction {
        height: 600px;
    }

    .introduction__text-description {
        max-width: 60%;
    }

    .introduction__text-initial {
        font-size: 18px;
    }

    .introduction__text-name {
        font-size: 62px;
    }

    .introduction__text-occupation {
        font-size: 38px;
    }
    
    .experience-education__container {
        flex-direction: column;
    }

    .experience-education__wrapper {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 50px;
    }

    .experience__three-js-title {
        writing-mode: horizontal-tb;
        font-size: 14px;
        margin-left: 0px;
        margin-top: 5px;
    }

    .experience__three-js {
        width: 60%;
        height: 30vh;
        max-height: 700px;
    }
    
    .sandbox__projects-list {
        gap: 30px;
    }

    .contact__spotify {
        width: 55%;
    }
}

/* Smaller desktop */
@media (max-width: 902px) {
    .introduction {
        height: 540px;
    }

    .introduction__text-initial {
        font-size: 14px;
    }

    .introduction__text-name {
        font-size: 52px;
    }

    .introduction__text-occupation {
        font-size: 32px;
    }

    .introduction__text-description {
        font-size: 16px;
    }

    .hide-on-mobile {
        display: none;
    }

    .header__menu-sidebar-button {
        display: flex;
    }

    .about-me__title, .sandbox__title {
        font-size: 36px;
    }

    .experience-education__group {
        flex-direction: column;
        gap: 30px;
    }

    .experience-education__title {
        font-size: 28px;
    }

    .experience-education__icon--mtop {
        margin-top: 6px;
    }

    .contact__list-container {
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }

    .contact__container {
        flex-direction: column;
        align-items: center;
    }

    .contact__buttons {
        width: 60%;
    }
}

/* Most tablets */
@media (max-width: 768px) {
    .introduction__text-initial {
        font-size: 12px;
    }

    .introduction__text-name {
        font-size: 34px;
    }

    .introduction__text-occupation {
        font-size: 24px;
    }

    .introduction__text-description {
        font-size: 14px;
    }

    .introduction__button-call-to-action {
        font-size: 14px;
    }

    .about-me__about-skills-container {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .about-me__about {
        max-width: 100%;
    }
    
    .about-me__skills {
        max-width: 100%;
    }

    .about-me__title, .sandbox__title {
        font-size: 32px;
    }

    .contact__buttons {
        width: 80%;
    }
}

/* Most phones and small devices */
@media (max-width: 480px) {
    .toast {
        bottom: 0;
        top: auto;
    }

    .introduction__text-description {
        max-width: 80%;
    }

    .about-me__title {
        font-size: 28px;
    }

    .experience-education__title {
        font-size: 24px;
    }

    .experience-education__item-title {
        font-size: 18px;
    }

    .experience-education__item-subtitle {
        font-size: 14px;
    }

    .contact__buttons {
        width: 100%;
    }
}

/* Smaller phones */
@media (max-width: 330px) {
    .introduction {
        height: 600px;
    }

    .header__menu--sidebar {
        width: 100%;
    }
}
